<!DOCTYPE html>
<html lang="en" style="padding-bottom: 4rem;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: title | default: "Joel in AUS" }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
</head>
<body class="bg-base-paper text-base-900">
    <header class="max-w-3xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold">{{ title | default: "My Blog" }}</h1>
        {% if date %}
        <p class="text-sm text-base-600 mt-4">
          {{ date | date: "%d.%m.%Y" }}
          {% if tags %}
            {% if tags | join: '' %}
              {% assign visible_tags = tags | where_exp: 'x', 'x != "post"' %}
            {% else %}
              {% assign visible_tags = '' %}
            {% endif %}
            {% if visible_tags and visible_tags.size > 0 %}
              <span class="ml-2">
                {% for tg in visible_tags %}<a href="{{ '/tag/' | append: tg | append: '/' | url }}">#{{ tg }}</a>{% unless forloop.last %} {% endunless %}{% endfor %}
              </span>
            {% endif %}
          {% endif %}
        </p>
        {% endif %}
    </header>
    <main class="max-w-3xl mx-auto px-4 prose">
        {{ content }}
    </main>
</body>
</html>