<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: title | default: "Joel in AUS" }}</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body class="bg-base-paper text-base-900">
    <header class="max-w-3xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold">{{ title | default: "My Blog" }}</h1>
        {% if date %}
        <p class="text-sm text-base-600 mt-4">{{ date | date: "%d.%m.%Y" }}</p>
        {% endif %}
    </header>
    <main class="max-w-3xl mx-auto px-4 py-4 prose">
        {{ content }}
    </main>
</body>
</html>